/* Variables */
$quattro: 'Quattrocento Sans', sans-serif;

/* * * * * * */

/* * * * * RESET * * * * */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
	font-family: $quattro;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* * * * * * * * * */

.container {
	padding-top: .33rem;
	padding-bottom: .33rem;
	background-color: #F8F8F8;
	height: auto;

}

.nav-button {
	font-family: $quattro;
	color: #ffffff;
	text-align: center;
	height: 40px;
	line-height: 40px;
	border-radius: .25rem;
  	transition: background-color 0.5s ease;
  	color: white;
  	background-color: #5C7DDE;

	&:hover {
		color:black;
		background-color: #AEBEEE;
	}
}

a {
	text-decoration: none;
	padding: 2px;
	color:white;
	transition: color 0.5s ease;

	&:hover{
		color:black;
		text-decoration:none;
	}
}

.blog-post {

	.post-content{
		text-align: justify;
		font-size: 1.125rem;
	}
}

.footer {
	text-align: center;
	background-color: #cccccc;
	color: #000000;
	height:50px;
	line-height: 50px;
	margin-top: 10px;
}

.nav__holder {
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	li {
		background-color:black;
		color: white;
		text-align: center;
	}
}



